@page "/corsi"
@using Fitstic_Hackathon_4.Data;
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext db
<h1>CORSI</h1>



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!--COMPILAZIONE FormCorsi >> CREAZIONE DI CARD BOOTSTRAP DINAMICHE PER OGNI INSERIMENTO-->

<a class="button btn btn-primary btn-lg" href="form-corso"> NUOVO </a>

<br />
<br />


<section class="details-card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                        <span>heading</span>
                    </div>
                    <div class="card-desc">
                        <h3>Heading</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam
                        </p>
                        <a href="#" class="btn-card">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- details card section starts from here -->

@code {



}
