@page "/corsi"
@using Fitstic_Hackathon_4.Data;
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext db
<h1>CORSI</h1>



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!--COMPILAZIONE FormCorsi >> CREAZIONE DI CARD BOOTSTRAP DINAMICHE PER OGNI INSERIMENTO-->

<a class="button btn btn-primary btn-lg" href="form-corso"> NUOVO </a>

<br />
<br />

@if (all_corsi.Length == 0)
{
    <h3 class="text-danger">NESSUN CORSO INSERITO</h3>
}


<section class="details-card">
    <div class="container">        
        <div class="row">
            @foreach (var c in all_corsi)
            {
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-thumbnail" src="https://www.fitstic.it/assets/65dea26ae59afd62ec61fbe2b597da45/img/logo.jpg" alt="">
                            <span>#fitstic</span>
                        </div>
                        <div class="card-desc">
                            <h3>@c.Nome</h3>
                            <br />
                            <p> <b> Coordinatore: </b> <!--JOIN su TabOrganizzatori--></p>
                            <p> <b> Periodo:<br /> </b> @c.DataInizio.ToShortDateString() - @c.DataFine.ToShortDateString() </p>
                            <p> <b>Sede:</b> @c.Sede</p>

                            <a class="btn-card" href="form-corso/@c.Id">MODIFICA</a>
                        </div>
                    </div>
                </div>

             }
         </div>
    </div>
</section>

<!-- details card section starts from here -->

@code {

    public Corso[] all_corsi;

    protected override async Task OnInitializedAsync()
    {
        all_corsi = await db.TabCorsi
            .OrderBy(x => x.DataInizio)
            .ToArrayAsync();


    }


}
