
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="error-layout">
                    <div class="h3 text-danger">NESSUN CONTENUTO DISPONIBILE IN QUESTA PAGINA</div>
                    <a class="btn btn-warning btn-lg" href="./" id="btnToTop"><i class="fa fa-home" href="/"></i> Home</a>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
