@page "/"
@model LoginModel

<center>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <br>
    <br>
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group mb-0">
                        <div class="card p-4">
                            <div class="card-body">
                                <h1>Login</h1>
                                <p class="text-muted">Accedi al portale <br />FITSTIC come operatore </p>
                                <div class="input-group mb-3">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="Username" asp-for="Input.Email">
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4">Login</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-warning py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div>
                                    <img id="logoFitstic" class="img-thumbnail" src="https://www.fitstic.it/assets/65dea26ae59afd62ec61fbe2b597da45/img/logo.jpg" />
                                    <p></p>
                                    <a class="button btn btn-primary active mt-3" href="signup"> Registrati </a>
                                    <br />
                                    <a class="button btn btn-primary active mt-3" href="faq"> Assistenza </a>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</center>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

