<AuthorizeView>
    <Authorized/>  
    <NotAuthorized>
        <center>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <br>
            <br>
            <form id="account" method="post">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card-group mb-0">
                                <div class="card p-4">
                                    <div class="card-body">
                                        <h1>Login</h1>
                                        <p class="text-muted">Accedi al portale <br />FITSTIC come operatore </p>
                                        <div class="row">
                                            <div class="col-6">
                                                <a class="button btn btn-primary active mt-3" href="Identity/Account/Login">Login</a>
                                            </div>
                                            <!--
                                            <div class="col-6 text-right">
                                                <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card text-white bg-warning py-5 d-md-down-none" style="width:44%">
                                    <div class="card-body text-center">
                                        <div>
                                            <img id="logoFitstic" class="img-thumbnail" src="https://www.fitstic.it/assets/65dea26ae59afd62ec61fbe2b597da45/img/logo.jpg" />
                                            <p></p>
                                            <a class="button btn btn-primary active mt-3" href="Identity/Account/Register">Registrati</a>
                                            <br />
                                            <a class="button btn btn-primary active mt-3" href="Counter"> Assistenza </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </center>
    </NotAuthorized>
</AuthorizeView>
