@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="top-row px-4 auth">
        <BarraInfo />
        <a href="faq"> <img src="http://icons.iconarchive.com/icons/hopstarter/sleek-xp-basic/256/Help-icon.png" class="img-thumbnail" width="50" height="50" name="questionMark" /></a>
    </div>

    <div class="content px-4">
        @Body
        <LoginDisplay />
    </div>
</div>
